<h1><%= @movie.title %></h1>
<%= image_tag @movie.picture %>

<p><%= @movie.description %></p>

<p><%= @movie.release_date %></p>

<ul>
  <% @movie.genres.each do |genre| %>
  <li><%= genre.name %></li>
  <% end %>
</ul>

<% @movie.actors.each do |actor| %>
<div>
  <div><%= actor.name %> (<%= actor.parts.where(movie_id: @movie.id).all.map(&:character).join(', ') %>)</div>
  <%= image_tag actor.picture %>
</div>
<% end %>
