<!DOCTYPE html>
<html>
<head>
  <title>Moviesearch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<form action='/search' method='get'>
  <input type='text' name='term' placeholder='search'
    value="<%= @preload_search_term %>">
  <input type='submit' value='Search'>
</form>

<% if flash[:alert].present? %>
  <%= content_tag :div, flash[:alert], class: 'alert' %>
<% end %>

<%= yield %>

</body>
</html>
